---
import Logo from "./logo.astro";
import NavAuthSection from "../components/vue/components/NavAuthSection.vue";
---

<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <Logo />
  </div>
  <NavAuthSection client:visible />
</div>
