<input
  type="checkbox"
  id="my_modal_7"
  class="modal-toggle"
  id="new-product-modal"
/>
<div class="modal" role="dialog">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Hello!</h3>
    <p class="py-4">
      A New product have been added, <a href="" id="new-product-link"
        ><button class="btn btn-primary btn-sm">Click to checkout!</button></a
      >
    </p>
  </div>
  <label class="modal-backdrop" for="my_modal_7">Close</label>
</div>

<script>
  import { io } from "socket.io-client";
  import { config } from "../utils/config";

  const SERVER_URL = config.strapiUrl;

  // connect the socket
  const socket = io(SERVER_URL, { transports: ["websocket"] });

  //  wait until socket connects before adding event listeners
  socket.on("connect", () => {
    socket.on("product:create", (data: any) => {
      console.log(data);
      const newProductLinkTag = document.getElementById(
        "new-product-link",
      ) as HTMLAnchorElement;
      const newProductModal = document.getElementById(
        "new-product-modal",
      ) as HTMLInputElement;

      if (newProductModal) {
        newProductModal.checked = true;
      }

      if (newProductLinkTag) {
        newProductLinkTag.href = `/product/${data.id}`;
      }
    });
  });
</script>
