---
import Layout from "../../layouts/Layout.astro";
import Alert from "../../components/alert.astro";
import CartItems from "../../components/vue/components/CartItems.vue";

const token = Astro.cookies.get("token");
const user = Astro.cookies.get("user") as any;

if (!token?.value || !user?.value) {
  return Astro.redirect("/auth/login");
}
---

<Layout title="Cart">
  <main class="container mx-auto">
    <section class="py-12 relative">
      <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto">
        <h2
          class="title font-manrope font-bold text-4xl leading-10 mb-8 text-center text-black"
        >
          Shopping Cart
        </h2>
        <CartItems client:visible />
      </div>
    </section>
  </main>
</Layout>
