<div class="flex justify-center items-center text-2xl font-bold mt-20">
  <h1>We are sorry! This feature is under development!</h1>
  <br />
</div>
<div
  class="flex justify-center items-center underline text-blue-500 text-lg mt-5"
>
  <a href="/">Go Back Home</a>
</div>
