---
import Layout from "../../layouts/Layout.astro";
import Logo from "../../components/logo.astro";
import { actions } from "astro:actions";
import { ViewTransitions } from "astro:transitions";
import { getFieldErrors } from "../../utils/getFieldErrors";
import Alert from "../../components/alert.astro";

const user = Astro.cookies.get("user");

if (user?.value) {
  return Astro.redirect("/");
}

const result = Astro.getActionResult(actions.auth.login);

if (result && !result?.error) {
  Astro.cookies.set("user", result?.data?.user, { path: "/" });
  Astro.cookies.set("token", result?.data?.jwt, { path: "/" });
  return Astro.redirect("/");
}

const fieldErrors = getFieldErrors(result?.error);
---

<Layout title="Login">
  <ViewTransitions />
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto">
      <Logo />
      <br />
      <form
        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0"
        method="POST"
        action={actions.auth.login}
      >
        {
          result?.error && !(result?.error as any)?.fields && (
            <div class="p-2">
              <Alert type="error" title={result?.error?.message} />
            </div>
          )
        }
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
          >
            Sign in to your account
          </h1>

          <div>
            <label
              for="identifier"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Email or Username</label
            >
            <input
              transition:persist
              class="input input-bordered w-full"
              name="identifier"
            />
            <!-- <Input name="Password"  /> -->
            <label
              for="identifier"
              class="block mb-2 text-xs font-medium text-red-500"
              >{fieldErrors?.identifier || ""}</label
            >
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Password</label
            >
            <input
              transition:persist
              class="input input-bordered w-full"
              name="password"
              type="password"
            />
            <label
              for="password"
              class="block mb-2 text-xs font-medium text-red-500"
              >{fieldErrors?.password || ""}</label
            >
            <div class="flex items-center justify-between pt-1">
              <div class="flex items-start">
                <div class="form-control">
                  <label class="cursor-pointer label">
                    <input
                      transition:persist
                      type="checkbox"
                      class="checkbox checkbox-sm"
                    />
                    <span class="label-text">Remember me</span>
                  </label>
                </div>
              </div>
              <a href="/auth/forgot-password" class="link link-hover text-sm"
                >Forgot password?</a
              >
            </div>
            <div class="py-2">
              <button class="btn btn-primary w-full" type="submit">
                Signin</button
              >
            </div>

            <p class="text-sm font-light text-gray-500 dark:text-gray-400">
              Don’t have an account yet? <a
                href="/auth/register"
                class="font-medium text-primary-600 hover:underline dark:text-primary-500"
                >Sign up</a
              >
            </p>
          </div>
        </div>
      </form>
    </div>
  </section>
</Layout>
