---
import Alert from "../../components/alert.astro";
import Layout from "../../layouts/Layout.astro";

Astro.cookies.set("user", "", { path: "/" });
Astro.cookies.set("token", "", { path: "/" });
return Astro.redirect("/auth/login");
---

<Layout title="Welcome to Astro.">
  <div>
    <Alert type="success" title="Logged out Successfully" />
  </div>
</Layout>
