---
import { stripeApi } from "../../utils/stripeApi";
import Layout from "../../layouts/Layout.astro";
import { config } from "../../utils/config";
import qs from "qs";

const { id } = Astro.params;

const query = qs.stringify({
  populate: {
    image: {
      fields: ["url"],
    },
  },
});

const res = await stripeApi.get("/api/products/" + id + "?" + query);
---

<Layout title="Product details">
  <main class="container mx-auto p-5">
    <h1 class="text-2xl font-bold">Products Details</h1>
    <br />
    <div class="flex justify-between flex-col sm:flex-row gap-4">
      <div>
        <h2 class="text-xl">{res?.data?.data?.attributes?.title}</h2>
        <br />
        <div class="font-semibold">
          {res?.data?.data?.attributes?.price}
          {config.currency}
        </div>
      </div>
      <div>
        <button class="btn btn-primary btn-sm" data-cardBtn>Add to cart</button>
      </div>
    </div>
    <br />
    <figure class="flex justify-center items-center max-w-96 shadow-lg">
      <img
        src={config.strapiUrl +
          res?.data?.data?.attributes?.image?.data?.attributes?.url}
        alt="Shoes"
        class="w-full h-full"
      />
    </figure>
    <img />
  </main>
</Layout>
